NET "clk_ref" TNM_NET = "CLK";
TIMESPEC "TS_CLK" = PERIOD "CLK" 100 ns HIGH 50%;

NET "clk_ref"      LOC = "P83";
NET "reset_sw"     LOC = "P85";
NET "uart_rx"      LOC = "P70";
NET "uart_tx"      LOC = "P71";
NET "gpio_out<16>" LOC = "P54";
NET "gpio_out<17>" LOC = "P53";
NET "gpio_in<0>"   LOC = "P22";
NET "gpio_in<1>"   LOC = "P23";
NET "gpio_in<2>"   LOC = "P24";
NET "gpio_in<3>"   LOC = "P26";
NET "gpio_out<0>"  LOC = "P91";
NET "gpio_out<1>"  LOC = "P92";
NET "gpio_out<2>"  LOC = "P12";
NET "gpio_out<3>"  LOC = "P15";
NET "gpio_out<4>"  LOC = "P16";
NET "gpio_out<5>"  LOC = "P90";
NET "gpio_out<6>"  LOC = "P86";
NET "gpio_out<7>"  LOC = "P11";
NET "gpio_out<8>"  LOC = "P3" ;
NET "gpio_out<9>"  LOC = "P2" ;
NET "gpio_out<10>" LOC = "P5" ;
NET "gpio_out<11>" LOC = "P9" ;
NET "gpio_out<12>" LOC = "P10";
NET "gpio_out<13>" LOC = "P95";
NET "gpio_out<14>" LOC = "P94";
NET "gpio_out<15>" LOC = "P4" ;
NET "gpio_io<0>"   LOC = "P60" | PULLDOWN;
NET "gpio_io<1>"   LOC = "P61" | PULLDOWN;
NET "gpio_io<2>"   LOC = "P62" | PULLDOWN;
NET "gpio_io<3>"   LOC = "P63" | PULLDOWN;
NET "gpio_io<4>"   LOC = "P65" | PULLDOWN;
NET "gpio_io<5>"   LOC = "P66" | PULLDOWN;
NET "gpio_io<6>"   LOC = "P67" | PULLDOWN;
NET "gpio_io<7>"   LOC = "P68" | PULLDOWN;
NET "gpio_io<8>"   LOC = "P33" | PULLDOWN;
NET "gpio_io<9>"   LOC = "P34" | PULLDOWN;
NET "gpio_io<10>"  LOC = "P35" | PULLDOWN;
NET "gpio_io<11>"  LOC = "P36" | PULLDOWN;
NET "gpio_io<12>"  LOC = "P40" | PULLDOWN;
NET "gpio_io<13>"  LOC = "P41" | PULLDOWN;
NET "gpio_io<14>"  LOC = "P57" | PULLDOWN;
NET "gpio_io<15>"  LOC = "P58" | PULLDOWN;
